#container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
h4{
  margin-top: 3px;
}
#champImage{
    width: 100%;
}
.attrchamp:not(:first-child){
    padding-top: 10px;
}
.attrchamp{
    list-style-type: none;
}

.classProfile{
    font-weight: bold;
    color:#34495e;
}
.attrProfile{
    color: #337AB7;
    font-weight: bold;
}
#footer-header {
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 13px;
}
#footer-text {
    margin-bottom: 2px;
    font-size: 11px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: #000000;
}
.row {
    margin: 0; padding: 0
}
.item {
    width: 48px;
    height: 48px;
}
#pieChart {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
#profile {
    display: none;
}
