#container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

	img{
        width: 100%
    }
    .attrchamp:not(:first-child){
        padding-top: 10px;
    }
    .attrchamp{
        list-style-type: none;
    }
    .classProfile{
        font-weight: bold;
        color:#34495e;
    }
    .attrProfile{
        color: #16a085;
        font-weight: bold;
    }
/*
#options {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#id {
  align-items: center;
}
*/
