#container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
/*
#options {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#id {
  align-items: center;
}
*/
